{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": ["next", "next/core-web-vitals"],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "@next/next/no-img-element": "off",
    "react/no-unescaped-entities": "off",
    "@next/next/no-html-link-for-pages" : "off",
    "@next/next/no-page-custom-font" : "off",
    "react/jsx-no-target-blank" : "warn"
  }
}
