.cardContainer{
  display: flex;
  margin: 16px 0;
  box-shadow: 0px 20px 20px rgb(0 0 0 / 10%);
  border-radius: 4px;
  background-color: #fff;
  border-left: 2px solid transparent;
  transition: border-color 0.3s ease;
}
.cardBody{
  padding: 15px;
  .cardContent{
    min-height: 88px;
  }
  .title{
    h5{
      font-weight: 700;
    }
  }
  .excerpt{
    font-family: 'Roboto', sans-serif;
  }
}
.cardBottomInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .topic{
    background-color: #EFEFEF;
    padding: 0 7px;
    border-radius: 10px;
  }
}
.cardInfo{
  display: flex;
  p:not(:nth-child(3)){
    cursor: pointer;
  }
  .author{
    font-weight: 700;
  }
}
.cardCover{
  display: block;
  >div{
    border-radius: 0 4px 4px 0;
    height: 100%;
    object-fit: cover;
  }
}