.headerBlog{
  padding-top: 20px;
  margin-bottom: -1px;
  border-bottom: 1px solid #cecece;
  background-color: #fff;
}
.stickyHeader{
  position: sticky;
  top: 0;
  z-index: 1;
  .logoBlog{
    display: none;
  }
}
.headerContent{
  width: 90%;
  max-width: 1168px;
  margin: 0 auto;
}
.listMenu{
  justify-content: center;
  display: flex;
  margin-bottom: -1px;
  li{
    list-style: none;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all 0.3s;
    p{
      font-weight: 700;
      padding-bottom: 15px;
    }
    &:hover{
      border-color: #4361ee;
      color: #4361ee;
    }
  }
}
.logoBlog{
  img{
    width: 200px;
  }
  text-align: center;
  padding-bottom: 25px;
}
.groupBtnLeft{
  // padding-bottom: 10px;
  button:last-child{
    margin-left: 10px;
  }
}
.groupBtnRight{
  // padding-bottom: 10px;
  float: right;
  button:last-child{
    margin-left: 10px;
  }
}
.btnLanguage{
  display: flex;
  align-items: center;
  svg:last-child{
    margin-left: 5px;
  }
}